@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    
}

body {
    margin: 0;
    display: block;
    text-align: center;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    background-color: darkgreen;
    display: flex;
}

h2 {
    font-size: 25px;
    text-align: left;
    font-weight: bolder;
    color: white;
    margin: 0px;
    padding: 30px;
    margin-right: 10vh;
    
}

.nav {
    padding-top: 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    font-size: 20px;
}


ul li {
    float: left;
    width: 14vh;
    height: 5vh;
    line-height: 30px;
    text-align: center;
    background-color: darkgreen;
    margin-right: 40px;
    padding-top: 10px;
    
    position: relative;

}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul li a:hover {
    background-color: lightgreen;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;

}

.content {
    background-color: white;
    width: 700px;
    box-shadow: 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

}

.nome_Sp {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

.nome_Curintia {
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.nome_palmeiras {
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

.nome_gremio {
    background-color: rgb(0, 132, 255);
    padding: 5px;
    border-radius: 5px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bolder;
}

.historia {
    text-align: justify;
    margin: 0 30px 30px 30px;
    padding: 6px;
}

img {
    height: 500px;
}

button a:link{
    text-decoration: none;
    color: white;
    
}

.btn_Sp {
    background-color: rgb(255, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
}

.btn_Curitia {
    background-color: black;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
}

.btn_palmeiras {
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
}

.btn_gremio {
    background-color: rgb(0, 132, 255);
    border: none;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
}

footer {
    padding: 8px;
    color: white;
    background-color: rgb(95, 184, 95);
    
}